body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .main-header {
    background-color: #1b1a1a; /* Color de fondo del encabezado */
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header {
    background-color: #333; /* Color de fondo del encabezado */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-height: 75px; /* Ajusta el tamaño del logo según sea necesario */
  }
  
  nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration:wavy;
  }
  
  .background {
    /* Estilos para el fondo de la portada */
    background-image: url('img/ff.gif'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que la imagen de fondo esté detrás de otros elementos */
  }
  
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    font-size: 3rem;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4CAF50; /* Color de fondo del botón */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }